{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container mt-5">
<h1 class="text-center mb-4">Department Dashboard</h1>
    <form class="d-flex" method="get" action="/department/">
        
    </form>
    <a href="{% url 'add_department' %}" class="btn btn-success">Create New Department</a><hr>
    <table class="table table-bordered table-hover shadow">
        <thead class="table-danger">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        
        {% for department in departments %}
        <tr>
            <td>{{ department.dept_name }}</td>
            <td>{{ department.description }}</td>
            <td>
                
                {% if department.status %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
                
            </td>
            <td>
                <a href="{% url 'update_department' department.dept_id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_department' department.dept_id %}" class="btn btn-warning btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    </div>
    {% endblock 'main' %}