{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-4 p-4 border rounded shadow-lg">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form.as_p }}
            </div>

            <a href="/dashboard" class="btn btn-primary btn-block w-100">Login</a>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'forgot_password' %}" class="btn btn-link">Forgot Password?</a>
        </div>
    </div>
</div>
{% endblock 'main' %}