{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 p-4 border rounded shadow-lg">
        <h2 class="text-center mb-4">Set New Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form.as_p }}
            </div>
            
            <a href="{% url 'password_reset'  %}" class="btn btn-primary btn-block w-100">Reset Password</a>
            
        </form>
    </div>
</div>
{% endblock 'main' %}